* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ebeae9;
  min-width: 350px;
  background: #e2e2e2;
  background: -moz-linear-gradient(left, #e2e2e2 0%, rgba(219, 219, 219, 0.96) 22%, rgba(254, 254, 254, 0.89) 53%, rgba(209, 209, 209, 0.8) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #e2e2e2), color-stop(22%, rgba(219, 219, 219, 0.96)), color-stop(53%, rgba(254, 254, 254, 0.89)), color-stop(100%, rgba(209, 209, 209, 0.8)));
  background: -o-linear-gradient(left, #e2e2e2 0%, rgba(219, 219, 219, 0.96) 22%, rgba(254, 254, 254, 0.89) 53%, rgba(209, 209, 209, 0.8) 100%);
  background: -ms-linear-gradient(left, #e2e2e2 0%, rgba(219, 219, 219, 0.96) 22%, rgba(254, 254, 254, 0.89) 53%, rgba(209, 209, 209, 0.8) 100%);
  background: linear-gradient(to right, #e2e2e2 0%, rgba(219, 219, 219, 0.96) 22%, rgba(254, 254, 254, 0.89) 53%, rgba(209, 209, 209, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1', GradientType=1 );
}

.container-fluid, .row {
  margin: 0px;
  padding: 0px;
}

#top-background {
  background: #095b24;
  background: -moz-linear-gradient(top, #095b24 0%, rgba(209, 212, 33, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #095b24), color-stop(100%, rgba(209, 212, 33, 0.5)));
  background: -webkit-linear-gradient(top, #095b24 0%, rgba(209, 212, 33, 0.5) 100%);
  background: -o-linear-gradient(top, #095b24 0%, rgba(209, 212, 33, 0.5) 100%);
  background: -ms-linear-gradient(top, #095b24 0%, rgba(209, 212, 33, 0.5) 100%);
  background: linear-gradient(to bottom, #095b24 0%, rgba(209, 212, 33, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#095b24', endColorstr='#d1d421', GradientType=0 );
  text-align: center;
}

#top-background #menu-nav {
  padding-top: 50px;
  /*----- Toggle Button -----*/
  /*----- Menu Small-----*/
}

#top-background #menu-nav #menu {
  text-align: center;
  border: 1px solid #95b248;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 800px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 970px) {
  #top-background #menu-nav #menu {
    width: 600px;
    height: 52px;
  }
}

@media screen and (max-width: 630px) {
  #top-background #menu-nav #menu {
    display: none;
  }
}

#top-background #menu-nav #menu:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

#top-background #menu-nav #menu .li-n1 {
  display: inline-block;
  margin: 30px 25px;
  text-shadow: 0px 0px 8px black;
  vertical-align: top;
}

@media screen and (max-width: 970px) {
  #top-background #menu-nav #menu .li-n1 {
    margin: 15px 10px;
  }
}

#top-background #menu-nav #menu .li-n1 .a-n1 {
  color: #ebeae9;
  text-shadow: 0px 0px 8px black;
  text-decoration: none;
  padding: 30px 0px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}

@media screen and (max-width: 970px) {
  #top-background #menu-nav #menu .li-n1 .a-n1 {
    padding: 15px 0px;
  }
}

#top-background #menu-nav #menu .li-n1 .a-n1:hover {
  color: #bec93d;
  text-shadow: 0px 0px 20px black;
}

#top-background #menu-nav #menu .li-n1 i {
  vertical-align: top;
}

#top-background #menu-nav #menu .li-n1:hover #sub-menu {
  display: block;
  -webkit-animation: submenu 0.5s;
  -moz-animation: submenu 0.5s;
  -ms-animation: submenu 0.5s;
  animation: submenu 0.5s;
}

@-webkit-keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes submenu {
  #top-background #menu-nav #menu .li-n1:hover #sub-menu 0% {
    opacity: 0;
  }
  #top-background #menu-nav #menu .li-n1:hover #sub-menu 100% {
    opacity: 1;
  }
}

@keyframes submenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#top-background #menu-nav #menu .li-n1 #sub-menu {
  display: none;
  background-color: rgba(100, 100, 100, 0.7);
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #95b248;
  width: 210px;
  margin-top: 24px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 970px) {
  #top-background #menu-nav #menu .li-n1 #sub-menu {
    margin-top: 11px;
  }
}

#top-background #menu-nav #menu .li-n1 #sub-menu .li-n2 {
  display: block;
  width: 100%;
  height: 50px;
  text-align: left;
  padding-top: 15px;
}

#top-background #menu-nav #menu .li-n1 #sub-menu .li-n2 .a-n2 {
  font-family: "Montserrat", sans-serif;
  color: #ebeae9;
  font-size: 14px;
  text-decoration: none;
  padding-left: 5px;
  border-bottom: 1px solid #95b248;
}

#top-background #menu-nav #menu .li-n1 #sub-menu .li-n2 .a-n2:hover {
  color: #bec93d;
  text-shadow: 0px 0px 10px black;
}

#top-background #menu-nav .toggle-nav, #top-background #menu-nav .menu-small {
  display: none;
}

@media screen and (max-width: 630px) {
  #top-background #menu-nav .menu-small {
    position: relative;
    display: block;
  }
  #top-background #menu-nav .menu-small ul.active {
    display: none;
  }
  #top-background #menu-nav .menu-small ul {
    width: 50%;
    position: absolute;
    top: 78px;
    left: 25%;
    background-color: rgba(100, 100, 100, 0.7);
    border-radius: 3px;
    border: 1px solid #95b248;
    z-index: 3;
  }
  #top-background #menu-nav .menu-small li {
    margin: 10px 0px 10px 0px;
    float: none;
    display: block;
    font-size: 22px;
  }
  #top-background #menu-nav .menu-small a {
    display: block;
  }
  #top-background #menu-nav .toggle-nav {
    display: inline-block;
    border-radius: 3px;
    width: 80px;
    border: 1px solid #95b248;
    background-color: rgba(100, 100, 100, 0.5);
    color: #ebeae9;
    font-size: 40px;
    padding: 10px 20px;
    margin: auto;
  }
  #top-background #menu-nav .toggle-nav:hover, #top-background #menu-nav .toggle-nav:visited, #top-background #menu-nav .toggle-nav:link, #top-background #menu-nav .toggle-nav.active {
    text-decoration: none;
    color: #ebeae9;
  }
}

@media screen and (max-width: 375px) {
  #top-background #menu-nav .toggle-nav {
    width: 50px;
    font-size: 30px;
    padding: 5px 10px;
  }
  #top-background #menu-nav .menu-small ul {
    top: 53px;
  }
  #top-background #menu-nav .menu-small li {
    font-size: 16px;
  }
}

#top-background img {
  display: block;
  margin: auto;
  padding-top: 60px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 970px) {
  #top-background img {
    width: 400px;
  }
}

@media screen and (max-width: 630px) {
  #top-background img {
    width: 300px;
  }
}

#top-background h1 {
  font-weight: lighter;
  display: block;
  color: #d1d421;
  text-shadow: 0px 0px 8px black;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 970px) {
  #top-background h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 630px) {
  #top-background h1 {
    font-size: 20px;
  }
}

#top-background .scroll {
  display: block;
  margin: 150px auto 0 auto;
}

#top-background .scroll a {
  display: inline-block;
  color: #ebeae9;
  font-size: 18px;
  text-shadow: 0 0 9px black;
}

@media screen and (max-width: 970px) {
  #top-background .scroll a {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

#top-background .scroll a:hover, #top-background .scroll a:link {
  text-decoration: none;
}

#top-background .scroll a i {
  font-size: 60px;
}

@media screen and (max-width: 970px) {
  #top-background .scroll a i {
    font-size: 40px;
  }
}

#top-background .scroll #icon-scroll {
  margin-top: -20px;
  -webkit-animation: move-icon 3s infinite;
  -moz-animation: move-icon 3s infinite;
  -ms-animation: move-icon 3s infinite;
  animation: move-icon 3s infinite;
}

@-webkit-keyframes move-icon {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(15px);
  }
}

@-moz-keyframes move-icon {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(15px);
  }
}

@-ms-keyframes move-icon {
  #top-background .scroll #icon-scroll 0%, #top-background .scroll #icon-scroll 20%, #top-background .scroll #icon-scroll 50%, #top-background .scroll #icon-scroll 80%, #top-background .scroll #icon-scroll 100% {
    transform: translateY(0);
  }
  #top-background .scroll #icon-scroll 40% {
    transform: translateY(15px);
  }
  #top-background .scroll #icon-scroll 60% {
    transform: translateY(15px);
  }
}

@keyframes move-icon {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(15px);
  }
}

@media screen and (max-width: 970px) {
  .row-n2, .row-n3 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .row-n2, .row-n3 {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 375px) {
  .row-n2, .row-n3 {
    margin-bottom: 110px;
  }
}

#row1-n2 {
  padding-top: 30px;
}

#row3-n2 {
  padding-bottom: 30px;
}

.circulo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: none;
  height: 200px;
  width: 200px;
  background-size: 200px;
  border: 5px solid #95b248;
}

@media screen and (max-width: 750px) {
  .circulo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: none;
    height: 150px;
    width: 150px;
    background-size: 150px;
  }
}

@media screen and (max-width: 500px) {
  .circulo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: none;
    height: 125px;
    width: 125px;
    background-size: 125px;
  }
}

@media screen and (max-width: 375px) {
  .circulo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: none;
    height: 100px;
    width: 100px;
    background-size: 100px;
    border: 3px solid #95b248;
  }
}

.linea-avatar {
  width: 390px;
  height: 5px;
  background-color: #95b248;
  position: absolute;
}

@media screen and (max-width: 750px) {
  .linea-avatar {
    width: 380px;
    height: 3px;
  }
}

@media screen and (max-width: 630px) {
  .linea-avatar {
    width: 300px;
    height: 3px;
  }
}

@media screen and (max-width: 500px) {
  .linea-avatar {
    width: 280px;
    height: 3px;
  }
}

@media screen and (max-width: 375px) {
  .linea-avatar {
    width: 230px;
    height: 3px;
  }
}

#proc-ind {
  position: relative;
}

#proc-ind #proc-ind-avatar {
  background-image: url("../img/proc-ind.jpg");
  display: inline-block;
}

#proc-ind h2 {
  color: #646464;
  position: absolute;
  top: 50px;
  left: 225px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  white-space: nowrap;
}

@media screen and (max-width: 750px) {
  #proc-ind h2 {
    top: 33px;
    left: 180px;
    font-size: 22px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 630px) {
  #proc-ind h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #proc-ind h2 {
    font-size: 19px;
    top: 20px;
    left: 150px;
  }
}

@media screen and (max-width: 375px) {
  #proc-ind h2 {
    font-size: 18px;
    top: 8px;
    left: 120px;
  }
}

#proc-ind #proc-ind-linea {
  top: 100px;
  left: 212px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  -ms-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

@media screen and (max-width: 750px) {
  #proc-ind #proc-ind-linea {
    top: 75px;
    left: 165px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 500px) {
  #proc-ind #proc-ind-linea {
    top: 60px;
    left: 140px;
  }
}

@media screen and (max-width: 375px) {
  #proc-ind #proc-ind-linea {
    top: 45px;
    left: 115px;
  }
}

#proc-ind p {
  color: #646464;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  width: 370px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 225px;
}

#proc-ind p a {
  color: #bec93d;
}

@media screen and (max-width: 750px) {
  #proc-ind p {
    top: 78px;
    left: 170px;
  }
}

@media screen and (max-width: 630px) {
  #proc-ind p {
    width: 290px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #proc-ind p {
    width: 270px;
    height: 50px;
    top: 62px;
    left: 144px;
  }
}

@media screen and (max-width: 375px) {
  #proc-ind p {
    width: 200px;
    height: 100px;
    top: 46px;
    left: 117px;
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  #proc-ind a:hover h2 {
    color: black;
    font-weight: bold;
    left: 225px;
  }
  #proc-ind a:hover + #proc-ind-linea {
    width: 450px;
    height: 10px;
  }
}

#tec-agua {
  position: relative;
}

#tec-agua #tec-agua-avatar {
  background-image: url("../img/tec-agua.jpg");
  float: right;
}

#tec-agua h2 {
  color: #646464;
  position: absolute;
  top: 50px;
  right: 240px;
  white-space: nowrap;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 750px) {
  #tec-agua h2 {
    top: 33px;
    right: 180px;
    font-size: 22px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 630px) {
  #tec-agua h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #tec-agua h2 {
    font-size: 19px;
    top: 20px;
    right: 150px;
  }
}

@media screen and (max-width: 375px) {
  #tec-agua h2 {
    font-size: 18px;
    top: 8px;
    right: 120px;
  }
}

#tec-agua #tec-agua-linea {
  top: 100px;
  right: 212px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  -ms-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

@media screen and (max-width: 750px) {
  #tec-agua #tec-agua-linea {
    top: 75px;
    right: 165px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 500px) {
  #tec-agua #tec-agua-linea {
    top: 60px;
    right: 140px;
  }
}

@media screen and (max-width: 375px) {
  #tec-agua #tec-agua-linea {
    top: 45px;
    right: 115px;
  }
}

#tec-agua p {
  color: #646464;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  width: 370px;
  height: 50px;
  position: absolute;
  top: 110px;
  right: 225px;
}

#tec-agua p a {
  color: #bec93d;
}

@media screen and (max-width: 750px) {
  #tec-agua p {
    top: 78px;
    right: 170px;
  }
}

@media screen and (max-width: 630px) {
  #tec-agua p {
    width: 290px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #tec-agua p {
    width: 270px;
    height: 50px;
    top: 62px;
    right: 144px;
  }
}

@media screen and (max-width: 375px) {
  #tec-agua p {
    width: 200px;
    height: 100px;
    top: 46px;
    right: 117px;
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  #tec-agua a:hover h2 {
    color: black;
    font-weight: bold;
    right: 180px;
  }
  #tec-agua a:hover + #tec-agua-linea {
    width: 450px;
    height: 10px;
  }
}

#tec-sec {
  position: relative;
}

#tec-sec #tec-sec-avatar {
  background-image: url("../img/tec-sec.jpg");
}

#tec-sec h2 {
  color: #646464;
  position: absolute;
  top: 50px;
  left: 230px;
  white-space: nowrap;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 750px) {
  #tec-sec h2 {
    top: 33px;
    left: 180px;
    font-size: 22px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 630px) {
  #tec-sec h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #tec-sec h2 {
    font-size: 19px;
    top: 20px;
    left: 150px;
  }
}

@media screen and (max-width: 375px) {
  #tec-sec h2 {
    font-size: 18px;
    top: 8px;
    left: 120px;
  }
}

#tec-sec #tec-sec-linea {
  top: 100px;
  left: 212px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  -ms-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

@media screen and (max-width: 750px) {
  #tec-sec #tec-sec-linea {
    top: 75px;
    left: 165px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 500px) {
  #tec-sec #tec-sec-linea {
    top: 60px;
    left: 140px;
  }
}

@media screen and (max-width: 375px) {
  #tec-sec #tec-sec-linea {
    top: 45px;
    left: 115px;
  }
}

#tec-sec p {
  color: #646464;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  width: 370px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 225px;
}

#tec-sec p a {
  color: #bec93d;
}

@media screen and (max-width: 750px) {
  #tec-sec p {
    top: 78px;
    left: 170px;
  }
}

@media screen and (max-width: 630px) {
  #tec-sec p {
    width: 290px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #tec-sec p {
    width: 270px;
    height: 50px;
    top: 62px;
    left: 144px;
  }
}

@media screen and (max-width: 375px) {
  #tec-sec p {
    width: 200px;
    height: 100px;
    top: 46px;
    left: 117px;
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  #tec-sec a:hover h2 {
    color: black;
    font-weight: bold;
    left: 250px;
  }
  #tec-sec a:hover + #tec-sec-linea {
    width: 450px;
    height: 10px;
  }
}

.parallax-1 {
  background-image: url("../img/fondo-separador.jpg");
  background-size: 100% auto;
  width: 100%;
  padding: 100px 0;
  background-position: 0px 900px;
}

@media screen and (max-width: 970px) {
  .parallax-1 {
    background-size: 970px auto;
  }
}

@media screen and (max-width: 750px) {
  .parallax-1 {
    background-size: 750px auto;
  }
}

@media screen and (max-width: 630px) {
  .parallax-1 {
    background-size: 630px auto;
  }
}

@media screen and (max-width: 375px) {
  .parallax-1 {
    background-size: 375px auto;
  }
}

.container {
  /* width: 100%;
	margin: 0 auto;
	padding: 0 20px; */
  text-align: center;
}

.container p {
  display: inline-block;
  padding: 30px;
  background-color: rgba(100, 100, 100, 0.8);
  border: 1px solid #95b248;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #ebeae9;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 970px) {
  .container p {
    font-size: 25px;
  }
}

@media screen and (max-width: 750px) {
  .container p {
    font-size: 22px;
  }
}

@media screen and (max-width: 630px) {
  .container p {
    font-size: 18px;
  }
}

#row1-n3 {
  padding-top: 30px;
}

#row3-n3 {
  padding-bottom: 30px;
}

#filt-tam {
  position: relative;
}

#filt-tam #filt-tam-avatar {
  background-image: url("../img/filt-tam.jpg");
  display: inline-block;
}

#filt-tam h2 {
  color: #646464;
  position: absolute;
  top: 50px;
  left: 225px;
  white-space: nowrap;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 750px) {
  #filt-tam h2 {
    top: 33px;
    left: 180px;
    font-size: 22px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 630px) {
  #filt-tam h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #filt-tam h2 {
    font-size: 19px;
    top: 20px;
    left: 150px;
  }
}

@media screen and (max-width: 375px) {
  #filt-tam h2 {
    font-size: 18px;
    top: 8px;
    left: 120px;
  }
}

#filt-tam #filt-tam-linea {
  top: 100px;
  left: 212px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  -ms-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

@media screen and (max-width: 750px) {
  #filt-tam #filt-tam-linea {
    top: 75px;
    left: 165px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 500px) {
  #filt-tam #filt-tam-linea {
    top: 60px;
    left: 140px;
  }
}

@media screen and (max-width: 375px) {
  #filt-tam #filt-tam-linea {
    top: 45px;
    left: 115px;
  }
}

#filt-tam p {
  color: #646464;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  width: 370px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 225px;
}

#filt-tam p a {
  color: #bec93d;
}

@media screen and (max-width: 750px) {
  #filt-tam p {
    top: 78px;
    left: 170px;
  }
}

@media screen and (max-width: 630px) {
  #filt-tam p {
    width: 290px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #filt-tam p {
    width: 270px;
    height: 50px;
    top: 62px;
    left: 144px;
  }
}

@media screen and (max-width: 375px) {
  #filt-tam p {
    width: 200px;
    height: 100px;
    top: 46px;
    left: 117px;
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  #filt-tam a:hover h2 {
    color: black;
    font-weight: bold;
    left: 250px;
  }
  #filt-tam a:hover + #filt-tam-linea {
    width: 450px;
    height: 10px;
  }
}

#tej-met {
  position: relative;
}

#tej-met #tej-met-avatar {
  background-image: url("../img/tej-met.jpg");
  float: right;
}

#tej-met h2 {
  color: #646464;
  position: absolute;
  top: 50px;
  right: 240px;
  white-space: nowrap;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 750px) {
  #tej-met h2 {
    top: 33px;
    right: 180px;
    font-size: 22px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 630px) {
  #tej-met h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #tej-met h2 {
    font-size: 19px;
    top: 20px;
    right: 150px;
  }
}

@media screen and (max-width: 375px) {
  #tej-met h2 {
    font-size: 18px;
    top: 8px;
    right: 120px;
  }
}

#tej-met #tej-met-linea {
  top: 100px;
  right: 212px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  -ms-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

@media screen and (max-width: 750px) {
  #tej-met #tej-met-linea {
    top: 75px;
    right: 165px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 500px) {
  #tej-met #tej-met-linea {
    top: 60px;
    right: 140px;
  }
}

@media screen and (max-width: 375px) {
  #tej-met #tej-met-linea {
    top: 45px;
    right: 115px;
  }
}

#tej-met p {
  color: #646464;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  width: 370px;
  height: 50px;
  position: absolute;
  top: 110px;
  right: 225px;
}

#tej-met p a {
  color: #bec93d;
}

@media screen and (max-width: 750px) {
  #tej-met p {
    top: 78px;
    right: 170px;
  }
}

@media screen and (max-width: 630px) {
  #tej-met p {
    width: 290px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #tej-met p {
    width: 270px;
    height: 50px;
    top: 62px;
    right: 144px;
  }
}

@media screen and (max-width: 375px) {
  #tej-met p {
    width: 200px;
    height: 100px;
    top: 46px;
    right: 117px;
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  #tej-met a:hover h2 {
    color: black;
    font-weight: bold;
    right: 270px;
  }
  #tej-met a:hover + #tej-met-linea {
    width: 450px;
    height: 10px;
  }
}

#cons-ind {
  position: relative;
}

#cons-ind #cons-ind-avatar {
  background-image: url("../img/cons-ind.jpg");
}

#cons-ind h2 {
  color: #646464;
  position: absolute;
  top: 50px;
  left: 230px;
  white-space: nowrap;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 750px) {
  #cons-ind h2 {
    top: 33px;
    left: 180px;
    font-size: 22px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 630px) {
  #cons-ind h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #cons-ind h2 {
    font-size: 19px;
    top: 20px;
    left: 150px;
  }
}

@media screen and (max-width: 375px) {
  #cons-ind h2 {
    font-size: 18px;
    top: 8px;
    left: 120px;
  }
}

#cons-ind #cons-ind-linea {
  top: 100px;
  left: 212px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-transition: width 1s, height 1s;
  -moz-transition: width 1s, height 1s;
  -ms-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
}

@media screen and (max-width: 750px) {
  #cons-ind #cons-ind-linea {
    top: 75px;
    left: 165px;
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }
}

@media screen and (max-width: 500px) {
  #cons-ind #cons-ind-linea {
    top: 60px;
    left: 140px;
  }
}

@media screen and (max-width: 375px) {
  #cons-ind #cons-ind-linea {
    top: 45px;
    left: 115px;
  }
}

#cons-ind p {
  color: #646464;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  width: 370px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 225px;
}

#cons-ind p a {
  color: #bec93d;
}

@media screen and (max-width: 750px) {
  #cons-ind p {
    top: 78px;
    left: 170px;
  }
}

@media screen and (max-width: 630px) {
  #cons-ind p {
    width: 290px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #cons-ind p {
    width: 270px;
    height: 50px;
    top: 62px;
    left: 144px;
  }
}

@media screen and (max-width: 375px) {
  #cons-ind p {
    width: 200px;
    height: 100px;
    top: 46px;
    left: 117px;
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  #cons-ind a:hover h2 {
    color: black;
    font-weight: bold;
    left: 250px;
  }
  #cons-ind a:hover + #cons-ind-linea {
    width: 450px;
    height: 10px;
  }
}

footer {
  background-color: #95b248;
  color: #ebeae9;
  text-align: center;
}

@media screen and (max-width: 630px) {
  footer h3 {
    font-size: 20px;
  }
}

footer #footer-up {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

footer #footer-up #direccion {
  display: inline-block;
}

footer #footer-up #direccion address {
  font-size: 16px;
}

@media screen and (max-width: 630px) {
  footer #footer-up #direccion address {
    font-size: 14px;
  }
}

footer #footer-up #contacto {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

footer #footer-up #contacto a {
  font-size: 16px;
  color: #ebeae9;
}

@media screen and (max-width: 750px) {
  footer #footer-up #contacto a {
    font-size: 14px;
  }
}

footer #copyright {
  height: 50px;
  background-color: #bec93d;
}

footer #copyright p {
  margin-top: 15px;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #646464;
  color: #ebeae9;
  background: #95b248;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -ms-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-top i {
  color: #ebeae9;
  font-size: 40px;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  -ms-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 0.8;
}
