// =================== 
// VARIABLES
// ===================
$color-primario: rgb(149, 178, 72);
$color-secundario: rgb(190, 201, 61);
$color-terciario: rgb(209, 212, 33);
$color-claro: rgb(235, 234, 233); //rgb(245, 245, 245);
$color-oscuro: rgb(100, 100, 100);

$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'Montserrat', sans-serif;

$break-large: 1170px;
$break-medium: 970px;
$break-small: 630px;
$break-small-2: 750px;
$break-phone: 375px;
$min-width: 350px;


// =================== 
// MIXINS
// ===================

//Limpia los margins y paddigs de elemento
@mixin limpiar() {
	margin: 0px;
	padding: 0px;
}

//Agrega dimensiones a un elemento
@mixin dimensiones($ancho, $alto) {
	width: $ancho;
	height: $alto;
}

//Agrega sombra a un elemento
@mixin sombra($h-shadow, $v-shadow, $blur, $spread, $color) {
	-webkit-box-shadow: $h-shadow $v-shadow $blur $color;
	-moz-box-shadow: $h-shadow $v-shadow $blur $color;
	-ms-box-shadow: $h-shadow $v-shadow $blur $color;
	box-shadow: $h-shadow $v-shadow $blur $color;
}

//Agrega border-radius
@mixin border($radio) {
	-webkit-border-radius: $radio;
	-moz-border-radius: $radio;
	-ms-border-radius: $radio;
	border-radius: $radio;
}

//hace que un elemento div sea circular
@mixin circulo($color, $diametro) {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background-color: $color;
	height: $diametro;
	width: $diametro;
}

//Para 1 transicion
@mixin transition($propiedad, $tiempo, $funcion){
	-webkit-transition: $propiedad $tiempo $funcion;
	-moz-transition: $propiedad $tiempo $funcion;
	-ms-transition: $propiedad $tiempo $funcion;
	transition: $propiedad $tiempo $funcion;
}
//Para 2 transiciones
@mixin transitions($tran1, $tran2){
	-webkit-transition: $tran1, $tran2;
	-moz-transition: $tran1, $tran2;
	-ms-transition: $tran1, $tran2;
	transition: $tran1, $tran2;
}

//Para tranformaciones
@mixin transform($propiedad){
	-webkit-transform: $propiedad;
	-moz-transform: $propiedad;
	-ms-transform: $propiedad;
	transform: $propiedad;
}

//Para animaciones
@mixin animation($animations) {
	-webkit-animation: #{$animations};
	-moz-animation: #{$animations};
	-ms-animation: #{$animations};
	animation: #{$animations};
}
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content; 
	}
	@-ms-keyframes #{$name} {
		@content; 
	}
	@keyframes #{$name} {
		@content; 
	}
}

* {
	box-sizing: border-box;
	@include limpiar();
}

body {
	font-family: $fuente-principal;
	color: $color-claro;
	min-width: $min-width;
	//Background con gradiente
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.96) 22%, rgba(254,254,254,0.89) 53%, rgba(209,209,209,0.8) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(22%, rgba(219,219,219,0.96)), color-stop(53%, rgba(254,254,254,0.89)), color-stop(100%, rgba(209,209,209,0.8)));
	
	background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.96) 22%, rgba(254,254,254,0.89) 53%, rgba(209,209,209,0.8) 100%);
	background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.96) 22%, rgba(254,254,254,0.89) 53%, rgba(209,209,209,0.8) 100%);
	background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,0.96) 22%, rgba(254,254,254,0.89) 53%, rgba(209,209,209,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#d1d1d1', GradientType=1 );
}
.container-fluid, .row {
	@include limpiar();
}
// =================== 
// 	TOP - MENU, LOGO, SLOGAN
// ===================
#top-background {
	background: rgba(9,91,36,1);
	background: -moz-linear-gradient(top, rgba(9,91,36,1) 0%, rgba(209,212,33,0.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,91,36,1)), color-stop(100%, rgba(209,212,33,0.5)));
	background: -webkit-linear-gradient(top, rgba(9,91,36,1) 0%, rgba(209,212,33,0.5) 100%);
	background: -o-linear-gradient(top, rgba(9,91,36,1) 0%, rgba(209,212,33,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(9,91,36,1) 0%, rgba(209,212,33,0.5) 100%);
	background: linear-gradient(to bottom, rgba(9,91,36,1) 0%, rgba(209,212,33,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#095b24', endColorstr='#d1d421', GradientType=0 );
	text-align: center;
	#menu-nav {
		padding-top: 50px;
		#menu {
			text-align: center;
			border: 1px solid $color-primario;
			@include border(10px);
			width: 800px;
			height: 80px;
			font-family: $fuente-secundaria;
			margin: auto;
			@include transition(background-color, 0.5s, ease);
			@media screen and (max-width: $break-medium) {
			 		width: 600px;
			 		height: 52px;
			}
			@media screen and (max-width: $break-small) {
				display: none;
			}
			&:hover {
				background-color: rgba(100, 100, 100, 0.3);
			}
			.li-n1 {
				display: inline-block;
				margin: 30px 25px;
				text-shadow: 0px 0px 8px black;
				vertical-align: top;
				@media screen and (max-width: $break-medium) {
			 		margin: 15px 10px;
			 	}
				.a-n1 {
					color: $color-claro;
					text-shadow: 0px 0px 8px black;
					text-decoration: none;
					padding: 30px 0px;
					@media screen and (max-width: $break-medium) {
			 			padding: 15px 0px;
			 		}
					@include transition(color, 0.5s, ease);
					@include transition(text-shadow, 0.5s, ease);
					&:hover {
						color: $color-secundario;
						text-shadow: 0px 0px 20px black;				
					}
				}
				i {
					vertical-align: top;
				}
				&:hover {
					#sub-menu {
						display: block;
						@include animation("submenu 0.5s");
						@include keyframes("submenu") {
							0% {opacity: 0}
							100% {opacity: 1} 
						}
					}
				}
				#sub-menu {
					display: none;
					background-color: rgba(100, 100, 100, 0.7);
					@include border(0px 0px 10px 10px);
					border: 1px solid $color-primario;
					width: 210px;
					margin-top: 24px;
					position: relative;
					z-index: 2;
					@media screen and (max-width: $break-medium) {
						margin-top: 11px;
					}
					.li-n2 {
						display: block;
						@include dimensiones(100%, 50px);
						text-align: left;
						padding-top: 15px;
						.a-n2 {
							font-family: $fuente-secundaria;
							color: $color-claro;
							font-size: 14px;
							text-decoration: none;
							padding-left: 5px;
							border-bottom: 1px solid $color-primario;
							&:hover {
								color: $color-secundario;
								text-shadow: 0px 0px 10px black;
							}
						}
					}
				}
			}
		}
		/*----- Toggle Button -----*/
		.toggle-nav, .menu-small {
    		display:none;
		}
		/*----- Menu Small-----*/
		@media screen and (max-width: $break-small) {
		    .menu-small {
		        position:relative;
        		display:block;
		    }
		    .menu-small ul.active {
    			display:none;
			}
			.menu-small ul {
		        width: 50%;
		        position:absolute;
		        top:78px;
		        left: 25%;
		        background-color: rgba(100, 100, 100, 0.7);
		        border-radius:3px;
		        border: 1px solid $color-primario;
		        z-index: 3;
		    }
 
		    .menu-small li {
		        margin:10px 0px 10px 0px;
		        float:none;
		        display:block;
		        font-size: 22px;
		    }
 
		    .menu-small a {
		        display:block;
		    }
 
		    .toggle-nav {
		        display:inline-block;
		        border-radius: 3px;
		        width: 80px;
		        border: 1px solid $color-primario;
		        background-color: rgba(100, 100, 100, 0.5);
		        color: $color-claro;
		        font-size:40px;
		        padding: 10px 20px;
		        margin: auto;
		    }
 
		    .toggle-nav:hover, .toggle-nav:visited, .toggle-nav:link, .toggle-nav.active {
		        text-decoration:none;
		        color: $color-claro;
		    }
		}
		@media screen and (max-width: $break-phone) {
			.toggle-nav {
				width: 50px;
				font-size:30px;
		        padding: 5px 10px;
			}
			.menu-small ul {
				top:53px;
			}
			.menu-small li {
				font-size: 16px;
			}
		}
	}
	img {
		display: block;
		margin: auto;
		padding-top: 60px;
		position: relative;
		z-index: 1;
		@media screen and (max-width: $break-medium) {
			width: 400px;
		}
		@media screen and (max-width: $break-small) {
			width: 300px;
		}
	}
	h1 {
		font-weight: lighter;
		display: block;
		color: $color-terciario;
		text-shadow: 0px 0px 8px black;
		position: relative;
		z-index: 1;
		@media screen and (max-width: $break-medium) {
			font-size: 25px;
		}
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
	}
	// SCROLL PARA NIVEL 2
	.scroll {
		display: block;
		margin: 150px auto 0 auto;
		a {
			display: inline-block;
			color: $color-claro;
			font-size: 18px;
			text-shadow: 0 0 9px black;
			@media screen and (max-width: $break-medium) {
				font-size: 14px;
				margin-bottom: 10px;
			}
			&:hover, &:link {
				text-decoration: none;
			}
			i {
				font-size: 60px;
				@media screen and (max-width: $break-medium) {
					font-size: 40px;
				}
			}
		}
		#icon-scroll {
			margin-top: -20px;
			@include animation("move-icon 3s infinite");
			//Animacion keyframes por coderhouse
			@include keyframes("move-icon") {
				0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
				40% {transform: translateY(15px);} 
				60%{transform: translateY(15px);}
			}	
		}
	}	
}

// =================== 
// NIVEL 2
// ===================
.row-n2, .row-n3 {
	@media screen and (max-width: $break-medium) {
		margin-bottom: 40px;
	}
	@media screen and (max-width: 500px) {
		margin-bottom: 70px;
	}
	@media screen and (max-width: $break-phone) {
		margin-bottom: 110px;
	}
}
#row1-n2 {
	padding-top: 30px;
}
#row3-n2 {
	padding-bottom: 30px;
}
.circulo {
	@include circulo(none, 200px);
	background-size: 200px;
	border: 5px solid $color-primario;
	@media screen and (max-width: $break-small-2) {
		@include circulo(none, 150px);
		background-size: 150px;
	}
	@media screen and (max-width: 500px) {
		@include circulo(none, 125px);
		background-size: 125px;	
	}
	@media screen and (max-width: $break-phone) {
		@include circulo(none, 100px);
		background-size: 100px;	
		border: 3px solid $color-primario;
	}
}	
.linea-avatar {
	@include dimensiones(390px, 5px);
	background-color: $color-primario;
	position: absolute;
	@media screen and (max-width: $break-small-2) {
		@include dimensiones(380px, 3px);
	}
	@media screen and (max-width: $break-small) {
		@include dimensiones(300px, 3px);
	}
	@media screen and (max-width: 500px) {
		@include dimensiones(280px, 3px);
	}
	@media screen and (max-width: $break-phone) {
		@include dimensiones(230px, 3px);
	}
}
#proc-ind {
	position: relative;
	#proc-ind-avatar {
		background-image: url("../img/proc-ind.jpg");
		display: inline-block;
	}
	h2 {
		color: $color-oscuro;
		position: absolute;
		top: 50px;
		left: 225px;
		@include transition(all, 1s, ease);
		white-space: nowrap;
		@media screen and (max-width: $break-small-2) {
			top: 33px;
			left: 180px;
			font-size: 22px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
		@media screen and (max-width: 500px) {
			font-size: 19px;
			top: 20px;
			left: 150px;
		}
		@media screen and (max-width: $break-phone) {
			font-size: 18px;
			top: 8px;
			left: 120px;
		}
	}
	#proc-ind-linea {
		top: 100px;
		left: 212px;
		@include border(0 5px 5px 0);
		@include transitions(width 1s, height 1s);
		@media screen and (max-width: $break-small-2) {
			top: 75px;
			left: 165px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: 500px) {
			top: 60px;
			left: 140px;
		}
		@media screen and (max-width: $break-phone) {
			top: 45px;
			left: 115px;
		}
	}
	p {
		color: $color-oscuro;
		font-family: $fuente-secundaria;
		text-align: justify;
		@include dimensiones(370px, 50px);
		position: absolute;
		top: 110px;
		left: 225px;
		a {
			color: $color-secundario;
		}
		@media screen and (max-width: $break-small-2) {
			top: 78px;
			left: 170px;
		}
		@media screen and (max-width: $break-small) {
			@include dimensiones(290px, 50px);
		}
		@media screen and (max-width: 500px) {
			@include dimensiones(270px, 50px);
			top: 62px;
			left: 144px;
		}
		@media screen and (max-width: $break-phone) {
			@include dimensiones(200px, 100px);
			top: 46px;
			left: 117px;
			text-align: left;
		}
	}
	a {
		@media screen and (min-width: $break-small-2) {
			&:hover {
				h2 {
					color: black;
					font-weight: bold;
					left: 225px;
				}
				+ #proc-ind-linea {
					@include dimensiones(450px, 10px);
				}
			}
		}
	}
}
#tec-agua {
	position: relative;
	#tec-agua-avatar {
		background-image: url("../img/tec-agua.jpg");
		float: right;
	}
	h2 {
		color: $color-oscuro;
		position: absolute;
		top: 50px;
		right: 240px;
		//Para que evitar salto de linea por flotar a la derecha
		white-space: nowrap;
		@include transition(all, 1s, ease);
		@media screen and (max-width: $break-small-2) {
			top: 33px;
			right: 180px;
			font-size: 22px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
		@media screen and (max-width: 500px) {
			font-size: 19px;
			top: 20px;
			right: 150px;
		}
		@media screen and (max-width: $break-phone) {
			font-size: 18px;
			top: 8px;
			right: 120px;
		}
	}
	#tec-agua-linea {
		top: 100px;
		right: 212px;
		@include border(5px 0px 0px 5px);
		@include transitions(width 1s, height 1s);
		@media screen and (max-width: $break-small-2) {
			top: 75px;
			right: 165px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: 500px) {
			top: 60px;
			right: 140px;
		}
		@media screen and (max-width: $break-phone) {
			top: 45px;
			right: 115px;
		}
	}
	p {
		color: $color-oscuro;
		font-family: $fuente-secundaria;
		text-align: justify;
		@include dimensiones(370px, 50px);
		position: absolute;
		top: 110px;
		right: 225px;
		a {
			color: $color-secundario;
		}
		@media screen and (max-width: $break-small-2) {
			top: 78px;
			right: 170px;
		}
		@media screen and (max-width: $break-small) {
			@include dimensiones(290px, 50px);
		}
		@media screen and (max-width: 500px) {
			@include dimensiones(270px, 50px);
			top: 62px;
			right: 144px;
		}
		@media screen and (max-width: $break-phone) {
			@include dimensiones(200px, 100px);
			top: 46px;
			right: 117px;
			text-align: left;
		}
	}
	a {
		@media screen and (min-width: $break-small-2) {
			&:hover {
				h2 {
					color: black;
					font-weight: bold;
					right: 180px;
				}
				//Selector de adyasencia +
				+ #tec-agua-linea {
					@include dimensiones(450px, 10px);
				}
			}
		}
	}
}
#tec-sec {
	position: relative;
	#tec-sec-avatar {
		background-image: url("../img/tec-sec.jpg");
	}
	h2 {
		color: $color-oscuro;
		position: absolute;
		top: 50px;
		left: 230px;
		white-space: nowrap;
		@include transition(all, 1s, ease);
		@media screen and (max-width: $break-small-2) {
			top: 33px;
			left: 180px;
			font-size: 22px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
		@media screen and (max-width: 500px) {
			font-size: 19px;
			top: 20px;
			left: 150px;
		}
		@media screen and (max-width: $break-phone) {
			font-size: 18px;
			top: 8px;
			left: 120px;
		}
	}
	#tec-sec-linea {
		top: 100px;
		left: 212px;
		@include border(0 5px 5px 0);
		@include transitions(width 1s, height 1s);
		@media screen and (max-width: $break-small-2) {
			top: 75px;
			left: 165px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: 500px) {
			top: 60px;
			left: 140px;
		}
		@media screen and (max-width: $break-phone) {
			top: 45px;
			left: 115px;
		}
	}
	p {
		color: $color-oscuro;
		font-family: $fuente-secundaria;
		text-align: justify;
		@include dimensiones(370px, 50px);
		position: absolute;
		top: 110px;
		left: 225px;
		a {
			color: $color-secundario;
		}
		@media screen and (max-width: $break-small-2) {
			top: 78px;
			left: 170px;
		}
		@media screen and (max-width: $break-small) {
			@include dimensiones(290px, 50px);
		}
		@media screen and (max-width: 500px) {
			@include dimensiones(270px, 50px);
			top: 62px;
			left: 144px;
		}
		@media screen and (max-width: $break-phone) {
			@include dimensiones(200px, 100px);
			top: 46px;
			left: 117px;
			text-align: left;
		}
	}
	a {
		@media screen and (min-width: $break-small-2) {
			&:hover {
				h2 {
					color: black;
					font-weight: bold;
					left: 250px;
				}
				+ #tec-sec-linea {
					@include dimensiones(450px, 10px);
				}
			}
		}
	}
}

// =================== 
// SEPARADOR PARALLAX
// ===================
.parallax-1 {
	background-image: url("../img/fondo-separador.jpg");
	background-size: 100% auto;
	@media screen and (max-width: $break-medium) {
			background-size: 970px auto;
		}
	@media screen and (max-width: $break-small-2) {
		background-size: $break-small-2 auto;
	}
	@media screen and (max-width: $break-small) {
		background-size: $break-small auto;
	}
	@media screen and (max-width: $break-phone) {
		background-size: $break-phone auto;
	}
	//background-repeat: no-repeat;
	width: 100%;
	padding: 100px 0;
	// Para cambiar la posicion Y de la imagen, cambiar aqui y en el parallax.js
	background-position: 0px 900px;
}
.container {
	/* width: 100%;
	margin: 0 auto;
	padding: 0 20px; */
	text-align: center;
	p {
		display: inline-block;
		padding: 30px;
		background-color: rgba(100, 100, 100, 0.8);
		border: 1px solid $color-primario;
		@include border(10px);
		color: $color-claro;
		font-size: 30px;
		line-height: 1;
		text-align: center;
		//text-transform: uppercase;
		//text-shadow: 0 0 10px white;
		@media screen and (max-width: $break-medium) {
			font-size: 25px;
		}
		@media screen and (max-width: $break-small-2) {
			font-size: 22px;
		}
		@media screen and (max-width: $break-small) {
			font-size: 18px;
		}
	}
}

// =================== 
// NIVEL 3
// ===================
#row1-n3 {
	padding-top: 30px;
}
#row3-n3 {
	padding-bottom: 30px;
}
#filt-tam {
	position: relative;
	#filt-tam-avatar {
		background-image: url("../img/filt-tam.jpg");
		display: inline-block;
	}
	h2 {
		color: $color-oscuro;
		position: absolute;
		top: 50px;
		left: 225px;
		white-space: nowrap;
		@include transition(all, 1s, ease);
		@media screen and (max-width: $break-small-2) {
			top: 33px;
			left: 180px;
			font-size: 22px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
		@media screen and (max-width: 500px) {
			font-size: 19px;
			top: 20px;
			left: 150px;
		}
		@media screen and (max-width: $break-phone) {
			font-size: 18px;
			top: 8px;
			left: 120px;
		}
	}
	#filt-tam-linea {
		top: 100px;
		left: 212px;
		@include border(0 5px 5px 0);
		@include transitions(width 1s, height 1s);
		@media screen and (max-width: $break-small-2) {
			top: 75px;
			left: 165px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: 500px) {
			top: 60px;
			left: 140px;
		}
		@media screen and (max-width: $break-phone) {
			top: 45px;
			left: 115px;
		}
	}
	p {
		color: $color-oscuro;
		font-family: $fuente-secundaria;
		text-align: justify;
		@include dimensiones(370px, 50px);
		position: absolute;
		top: 110px;
		left: 225px;
		a {
			color: $color-secundario;
		}
		@media screen and (max-width: $break-small-2) {
			top: 78px;
			left: 170px;
		}
		@media screen and (max-width: $break-small) {
			@include dimensiones(290px, 50px);
		}
		@media screen and (max-width: 500px) {
			@include dimensiones(270px, 50px);
			top: 62px;
			left: 144px;
		}
		@media screen and (max-width: $break-phone) {
			@include dimensiones(200px, 100px);
			top: 46px;
			left: 117px;
			text-align: left;
		}
	}
	a {
		@media screen and (min-width: $break-small-2) {
			&:hover {
				h2 {
					color: black;
					font-weight: bold;
					left: 250px;
				}
				+ #filt-tam-linea {
					@include dimensiones(450px, 10px);
				}
			}
		}
	}
}
#tej-met {
	position: relative;
	#tej-met-avatar {
		background-image: url("../img/tej-met.jpg");
		float: right;
	}
	h2 {
		color: $color-oscuro;
		position: absolute;
		top: 50px;
		right: 240px;
		//Para que evitar salto de linea por flotar a la derecha
		white-space: nowrap;
		@include transition(all, 1s, ease);
		@media screen and (max-width: $break-small-2) {
			top: 33px;
			right: 180px;
			font-size: 22px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
		@media screen and (max-width: 500px) {
			font-size: 19px;
			top: 20px;
			right: 150px;
		}
		@media screen and (max-width: $break-phone) {
			font-size: 18px;
			top: 8px;
			right: 120px;
		}
	}
	#tej-met-linea {
		top: 100px;
		right: 212px;
		@include border(5px 0px 0px 5px);
		@include transitions(width 1s, height 1s);
		@media screen and (max-width: $break-small-2) {
			top: 75px;
			right: 165px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: 500px) {
			top: 60px;
			right: 140px;
		}
		@media screen and (max-width: $break-phone) {
			top: 45px;
			right: 115px;
		}
	}
	p {
		color: $color-oscuro;
		font-family: $fuente-secundaria;
		text-align: justify;
		@include dimensiones(370px, 50px);
		position: absolute;
		top: 110px;
		right: 225px;
		a {
			color: $color-secundario;
		}
		@media screen and (max-width: $break-small-2) {
			top: 78px;
			right: 170px;
		}
		@media screen and (max-width: $break-small) {
			@include dimensiones(290px, 50px);
		}
		@media screen and (max-width: 500px) {
			@include dimensiones(270px, 50px);
			top: 62px;
			right: 144px;
		}
		@media screen and (max-width: $break-phone) {
			@include dimensiones(200px, 100px);
			top: 46px;
			right: 117px;
			text-align: left;
		}
	}
	a {
		@media screen and (min-width: $break-small-2) {
			&:hover {
				h2 {
					color: black;
					font-weight: bold;
					right: 270px;
				}
				//Selector de adyasencia +
				+ #tej-met-linea {
					@include dimensiones(450px, 10px);
				}
			}
		}
	}
}
#cons-ind {
	position: relative;
	#cons-ind-avatar {
		background-image: url("../img/cons-ind.jpg");
	}
	h2 {
		color: $color-oscuro;
		position: absolute;
		top: 50px;
		left: 230px;
		white-space: nowrap;
		@include transition(all, 1s, ease);
		@media screen and (max-width: $break-small-2) {
			top: 33px;
			left: 180px;
			font-size: 22px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
		@media screen and (max-width: 500px) {
			font-size: 19px;
			top: 20px;
			left: 150px;
		}
		@media screen and (max-width: $break-phone) {
			font-size: 18px;
			top: 8px;
			left: 120px;
		}
	}
	#cons-ind-linea {
		top: 100px;
		left: 212px;
		@include border(0 5px 5px 0);
		@include transitions(width 1s, height 1s);
		@media screen and (max-width: $break-small-2) {
			top: 75px;
			left: 165px;
			-webkit-transition-property: none;
			-moz-transition-property: none;
			-ms-transition-property: none;
			transition-property: none;
		}
		@media screen and (max-width: 500px) {
			top: 60px;
			left: 140px;
		}
		@media screen and (max-width: $break-phone) {
			top: 45px;
			left: 115px;
		}
	}
	p {
		color: $color-oscuro;
		font-family: $fuente-secundaria;
		text-align: justify;
		@include dimensiones(370px, 50px);
		position: absolute;
		top: 110px;
		left: 225px;
		a {
			color: $color-secundario;
		}
		@media screen and (max-width: $break-small-2) {
			top: 78px;
			left: 170px;
		}
		@media screen and (max-width: $break-small) {
			@include dimensiones(290px, 50px);
		}
		@media screen and (max-width: 500px) {
			@include dimensiones(270px, 50px);
			top: 62px;
			left: 144px;
		}
		@media screen and (max-width: $break-phone) {
			@include dimensiones(200px, 100px);
			top: 46px;
			left: 117px;
			text-align: left;
		}
	}
	a {
		@media screen and (min-width: $break-small-2) {
			&:hover {
				h2 {
					color: black;
					font-weight: bold;
					left: 250px;
				}
				+ #cons-ind-linea {
					@include dimensiones(450px, 10px);
				}
			}
		}
	}
}
// =================== 
// FOOTER
// ===================
footer {
	background-color: $color-primario;
	color: $color-claro;
	text-align: center;
	h3 {
		@media screen and (max-width: $break-small) {
			font-size: 20px;
		}
	}
	#footer-up {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		justify-content: space-around;
		#direccion {
			display: inline-block;
			//margin-right: 20%;
			address {
				font-size: 16px;
				@media screen and (max-width: $break-small) {
					font-size: 14px;
				}
			}
		}
		#contacto {
			display: inline-block;
			height: 100%;
			vertical-align: top;
			a {
				font-size: 16px;
				color: $color-claro;
				@media screen and (max-width: $break-small-2) {
					font-size: 14px;
				}
			}
		}
	}
	#copyright {
		height: 50px;
		background-color: $color-secundario;
		p {
			margin-top: 15px;
		}
	}
}
// =================== 
// BOTON IR ARRIBA
// ===================
.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	@include border(5px);
	box-shadow: 0px 0px 10px $color-oscuro;
	color: $color-claro;
	background: $color-primario;
	i {
		color: $color-claro;
		font-size: 40px;
	}
	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	-ms-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;

	&.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		-ms-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	&.cd-is-visible { /* the button becomes visible */
		visibility: visible;
		opacity: 0.8;
	}
}
